@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

a,p,h1,h2,h3,h4,h5, li{
    color: whitesmoke;
    font-family: 'Roboto';
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;

    width: 100%;
    height: 80px;

    background: linear-gradient(to bottom, #1d1d1d , rgba(0,0,0,0.2) , rgba(0,0,0,0));*/
}
nav div{
    text-align: center;
    white-space: nowrap;
    margin: 0 1.5%;
}
nav div a{
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 400;
    text-decoration: none;
    width: 100%;

    /*Stuff for nice underscore*/
    display: inline;
    border-bottom: 2px solid rgba(0,0,0,0);
    padding-bottom: 1px;
	
    transition-property: color, width, border;
    transition-duration: 0.08s;
    transition-timing-function: ease-out;
}
nav div a:hover{
    color: white;
    width: calc(100% + 10px);
    border-bottom: 2px solid white;
}
#etherData{
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
	height: 100%;
}
#etherDataLogoContainer{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
#etherDataLogo{
    height: 60px;
	filter: brightness(0.1) invert(100%);
}
#etherDataInfo{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#etherDataInfo p,span{
    margin: 2px 0;
    padding: 0;
}
#slider{
    background: url("pics/slider1.jpg") center center / cover no-repeat;
    height: 100vh;
    width: 100%;
	
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}
#sliderLogo{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
}
#sliderLogo img{
	width: 250px;
	height: auto;
	filter: brightness(0.1) invert(100%);
}
#sliderLogoText{
	font-weight: 100;
	letter-spacing: 12px;
	font-size: 130px;
}
#sliderLogoText span{
	color: #102026;
}
#sliderText{
	width: 45%;							
	
}
#sliderText p{
	font-size: 20px;
	text-align: center
	color: white;
}
#arrowbtn{
	position: absolute;
	bottom: 50px;
	filter: invert(100%);
	transform: rotate(180deg);
	
	width: 40px;
	
	transition-property: color, bottom;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
#arrowbtn:hover{
	bottom: 45px;
	cursor: pointer;
}

#main{
    width: 100%;
    background-color: whitesmoke;



    display: flex;
    flex-flow: column;
    align-items: center;
}
.mainSection{
    width: calc(100% - 70px*2);
	
    background-color: #eaeaea;
    padding: 5% 70px;

    display: flex;
    flex-flow: column;
}
.mainTitle{
    width: calc(100% - 15px*2);
    padding: 15px;
    margin: 0;
	margin-bottom: 10px;

    font-size: 5vw;
	font-weight: 100;
    white-space: nowrap;
    border-bottom: 1px solid whitesmoke;
}
.mainSection p{
	font-size: 18px;
}
.mainSection img{
    margin: 10px;
}
.list{
    padding: 10px;
}
.mainSection ul{
    margin: 0;
}
.mainSection ul li{
    margin: 10px 0;
    font-size: 18px;
}
.mainSection h4{
	font-size: 22px;
	font-weight: 300;
	font-style: italic;
	margin: 1em 0;
}
.mainSection h5{
	font-size: 20px;
	margin: 0;
	
}
.rightoffset{
	margin-left: 50px;
}
#sectionEther { background-color: #102026; }
#sectionBlockchain { background-color: #133339; }
#sectionBit { background-color: #102026; }
#sectionDecentralized { background-color: #133339; }
#sectionFuture { background-color: #102026; }