a,p,h1,h2,h3,h4,h5{
    color: whitesmoke;
    font-family: Roboto;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;

    width: 100%;
    height: 80px;

    background: linear-gradient(to bottom, #1d1d1d , rgba(0,0,0,0.2) , rgba(0,0,0,0));*/
}
nav div{
    text-align: center;
    white-space: nowrap;
    margin: 0 1.5%;
}
nav div a{
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 400;
    text-decoration: none;
    width: 100%;

    /*Stuff for nice underscore*/
    display: inline;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 1px;
    transition-property: color, width, border;
    transition-duration: 0.08s;
    transition-timing-function: ease-out;
}
nav div a:hover{
    color: white;
    width: calc(100% + 10px);
    border-bottom: 2px solid white;
}
#etherData{
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
}
#etherData div{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
#etherDataLogo{
    height: 60px;
}
#etherDataInfo p,span{
    margin: 0;
    padding: 0;
}
#slider{
    background: url("pics/slider1.jpg") center left / cover no-repeat;
    height: 400px;
    width: 100%;
}
#main{
    width: 100%;
    background-color: whitesmoke;
    height: 1000px;



    display: flex;
    flex-flow: column;
    align-items: center;
}
.mainSection{
    width: calc(100% - 30px*2);
    background-color: #eaeaea;
    padding: 30px;

    display: flex;
    flex-flow: column;
    align-items: center;
}
.mainTitle{
    width: calc(100% - 15px*2);
    padding: 15px;
    margin: 0;

    color: #1d1d1d;
    font-size: 4vw;
    white-space: nowrap;
    border: 2px solid #1d1d1d;
}
.mainSection p{
    color: #1d1d1d;
}
.mainSection img{
    margin: 10px;
}