body{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;

    width: 100%;
    height: 80px;


    background: linear-gradient(to bottom, #1d1d1d , rgba(0,0,0,0.2) , rgba(0,0,0,0));*/
}
nav div{
    text-align: center;
    white-space: nowrap;
    margin: 0 2%;
}
nav div a{
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 400;
    text-decoration: none;
    width: 100%;

    /*Stuff for nice underscore*/
    display: inline;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 1px;
    transition-property: color, width, border;
    transition-duration: 0.05s;
    transition-timing-function: ease-out;
}
nav div a:hover{
    color: white;
    width: calc(100% + 5px);
    border-bottom: 2px solid white;
}
#etherData{
    display: flex;
    flex-flow: row nowrap;
    margin-left:auto;
}
#etherData img,div{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
#etherData div p,span{
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
#slider{
    background: url("pics/slider1.jpg") center left / cover no-repeat;
    height: 400px;
    width: 100%;
}